<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/static/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/contact.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/vendor/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/contact.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='js/foundation/foundation.dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/foundation/foundation.alert.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static',filename='js/foundation/foundation.joyride.js') }}"></script>
    <script type="text/javascript">
        $(document).foundation();
        $(function () {
            $("#logout").click(function () {
                log_out();
            });
            msg_all('{{ user.uid }}');
            $("#say").click(function () {
                var uid = $("#uid").text();
                var tweet = $("#tweet").val();
                refresh(uid, tweet);
                $("#tweet").val("");
            });
        });
    </script>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Home</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"><a href="#" id="logout">Logout</a></li>
            <li class="has-dropdown">
                <a href="#">About</a>
                <ul class="dropdown">
                    <li><a href="#">Contact us</a></li>
                    <li class="active"><a href="#">Feedback</a></li>
                </ul>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="/person/{{ user._class }}">Contacts</a></li>
        </ul>
    </section>
</nav>
<div class="row">
    <div class="large-9 push-3 columns">
        <h3 class="subheader">发布新状态:</h3>
        <textarea class="radius" placeholder="Input what you wan to say!" name="tweet" id="tweet"></textarea>

        <h3></h3>

        <div class='row'>
            <div id='uid' hidden='hidden'>{{ user.uid }}</div>
            <div class="small-8 large-2 columns right">
                <a href="#" class="button [tiny small large alert radius round]" id='say'>发表</a>
            </div>
        </div>
        <div class="row" id='content'>
            <div class="panel callout radius">This is a test</div>
        </div>
    </div>

    <div class="large-3 pull-9 columns">
        <a class="th th-item" role="button" aria-label="Thumbnail" href="{{ user.path }}">
            <img aria-hidden=true src="/{{ user.path }}"/>
        </a>
        <ul class="side-nav">
            <li>Name : {{ user._user }}</li>
            <li>Phone : {{ user.phone }}</li>
            <li>Email : {{ user.email }}</li>
            <li>Company: {{ user._company }}</li>
            <li>Address: {{ user._address }}</li>
        </ul>
    </div>
</div>

<footer class="row center">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright wan company.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
   